h1{
    background-color: cadetblue;
    padding: 5px;
    border: 10px;
    
}
        div{
            color: darkcyan;
            background-color: blueviolet;
            margin: 10px;

        }